.contener-all {
	background: url("../imagem/imagempaisagem.png");
	background-repeat: no-repeat;
	background-size: 100%;
	color: #ffffff;
}

.contener-cabecalho {
	align-items: center;
	display: flex;
	justify-content: center;
}

.titulo {
	color: #483D8B;
	font-size: 27px;
	text-align: center;
	visibility: hidden;
}

.tela {
	background: transparent;
}

.secao-jogar-para-moblie {
	height: 8em;
}

.campo-adicionar-letras {
	border: transparent;
	border-radius: 5px;
	font-size: 10px;
	width: 60%;
	height: 8%;
}

.campo-adicionar-letras::placeholder {
	font-size: 8px;
	text-align: center;
}

.btn-verificar-letra {
	background: #483D8B;
	border: 10px;
	border-radius: 15px;
	color: #ffffff;
	font-size: 10px;
    font-weight: bold;
	left: 50%;
	padding: 15px;
	position: absolute;
	top: 85%;
}

.btn-iniciar {
	background: #483D8B;
	border: 10px;
	border-radius: 15px;
	color: #ffffff;
	font-size: 13px;
	font-weight: bold;
	padding: 15px;
}

.btn-iniciar:hover {
	font-size: 14px;
}

.btn-adicionar {
	background: #483D8B;
	border: 10px;
	border-radius: 15px;
	color: #ffffff;
	font-weight: bold;
	margin-top: 20px;
    padding: 15px;
}

.btn-adicionar:hover {
	font-size: 14px;
}

.contener-novo-desitir {
	align-items: center;
	margin-top: 4em;
}

.btn-novojogo {
	background: #483D8B;
	border: 10px;
	border-radius: 15px;
	color: #ffffff;
	font-size: 12px;
    font-weight: bold;
	margin: 14 1 1 1;
	padding: 15px;
	visibility: hidden;
}

.btn-desistir {
	border: 10px;
	background: #483D8B;
	border-radius: 15px;
	color: #ffffff;
	font-size: 12px;
    font-weight: bold;
	margin: 14px 1 1 1;
	padding: 15px;
	visibility: hidden;
}

.adicionar-letras-incorretas {
	background: transparent;
	color: #1b1717;
	position: absolute;
	top: 200px;
}

.adicionar-letras-incorreta {
	font-family: 'Advent Pro', sans-serif;
	font-family: 'Arima', cursive;
	font-family: 'Caveat', cursive;
	font-size: 2em;
	margin-right: 1em;
}

form {
	height: 8em;
}

.contener-adicionar {
	align-items: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin: 0 0 2em 0;
	width: 100%;
}

.contener-textarea {
	height: 6em;
}

.textare {
	left: 500px;
	position: absolute;
	top: 250px;
	visibility: hidden;
}

.contener-bnts-voltar-adicionar {
	height: 100px;
	width: 390px;
}

.btn-voltar {
	background: #483D8B;
	border: 10px;
	border-radius: 15px;
	color: #ffffff;
	font-weight: bold;
	left: 500px;
	margin-right: 2em;
	margin-top: 20px;
	position: absolute;
	top: 300px;
	visibility: hidden;
	padding: 15px;
}

.btn-adicionarpalavra-ao-jogo {
	background: #483D8B;
	border: 10px;
	border-radius: 15px;
	color: #ffffff;
	font-weight: bold;
	margin-top: 20px;
	padding: 15px;
	position: absolute;
	right: 455px;
	top: 300px;
	visibility: hidden;
}

.contener-direitos {
	display: flex;
	height: 140px;
	justify-content: end;
	margin-right: 2em;
	width: 100%;
}

.direitos {
	background: linear-gradient(40deg,#12191f 40%, #4e2248);
	border-radius: 10px;
	margin-bottom: 2em;
	visibility: hidden;
}

.informacao-direitos {
	color: #aca4a4;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin-top: 10px;
	padding: 0 5px;
	text-align: center;
}

.clique-aqui {
	color: #476080;
	text-decoration: none;
}

.contener-simbolo-direitos {
	display: flex;
	flex-direction: column;
	justify-content: end;
}

.material-symbols-outlined {
	cursor: pointer;
	color: #000000;
	font-size: 10px;
	margin-right: 20px;
}

.rodape {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	height: 100%;
	justify-content: flex-end;
	text-align: center;	
	width: 100%;
}

.desenvolvedor {
	color: #000000;
	font-family: 'Oswald', sans-serif;
}

.contener-git{
	display: flex;
	justify-content: center;
	margin-top: 1em;
}

.github {
	height: 20px;
	margin-right: 0.20rem;
	width: 20px;
}

.link-git {
	text-decoration: none;
}



