
@media screen and  (max-width: 480px) {
    .contener-all {
        background: url("../imagem/imagempaisagem.png");
        color: #ffffff;
        width: 375px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .contener-main {
        width: 100%;
    }
    
    .contener-cabecalho {
        align-items: center;
        display: flex;
        width: 100%;
    }

    .titulo {
        margin: 14px 0 0 0;
        text-align: center;
    }

    .contener-imagem-canvas {
        align-items: center;
        display: flex;
        justify-content: center;
    } 

    .tela {
        background: transparent;
        width: 80%;
	    height: 80%;
    }

    #canvas {
        background: url("../imagem/forca.png") no-repeat;
        background-position: bottom;
        background-size: 61%;
    }

    .secao-jogar-para-moblie {
        height: 5em;
        display: block;
    }

    .campo-adicionar-letras  {
        position: absolute;
        top: 60%;
        left: 30%;
    }

    .contener-iniciar-adicionar {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .btn-iniciar  {
        font-size: 10px;
        left: 50%;
        position: absolute;
        top: 40%;
        width: 100px;
    }

    .btn-adicionar  {
        font-size: 10px;
        left: 43%;
        position: absolute;
        top: 40%;
        width: 100px;
    }

    .btn-novojogo {
        font-size: 10px;
        margin-right: 4em;
        position: absolute;
        right: 20px;
        top: 300px;
    }

    .btn-desistir {
        font-size: 10px;
        left: 60px;
        position: absolute;
        top: 300px;
    }

    .adicionar-letras-incorretas {
        font-size: 8px;
        position: absolute;
        right: 10%;
        top: 20%;
    }

    .textare {
        font-size: 10px;
        position: absolute;
        top: 50%;
        width: 200px;
    }

    .contener-bnts-voltar-adicionar { 
        width: 100%;
    }

    .btn-voltar {
        font-size: 10px;
        left: 50%;
        position: absolute;
        top: 362px;
        visibility: hidden;
    }

    .btn-adicionarpalavra-ao-jogo  {
        font-size: 10px;
        position: absolute;
        right: 50%;
        top: 359px;
        width: 10%;
    }

    .direitos {
        margin-bottom: 2em;
    }
    
}


@media screen and  (max-width: 768px) {
    .contener-all {
        background: url("../imagem/imagempaisagem.png");
        color: #ffffff;
    }
 
    .btn-iniciar {
        left: 50%;
        position: absolute;
        top: 38%;
        width: 80px;
    }

    .btn-iniciar:hover {
        font-size: 14px;
    }

    .btn-adicionar {
        left: 49%;
        position: absolute;
        top: 50%;
        width: 100px;
    }

    .btn-adicionar:hover {
        font-size: 14px;
    }
    
    .textare {
        left: 20%;
        position: absolute;
        top: 80%;
    }

    .btn-voltar {
        left: 20%;
        position: absolute;
    }

    .btn-voltar:hover {
        font-size: 15px;
    }

    .btn-adicionarpalavra-ao-jogo {
       position: absolute;
        
    }

    .btn-adicionarpalavra-ao-jogo:hover {
        font-size: 15px;
    }
}

@media screen and (max-width: 1024px) {
    .contener-all {
        background: url("../imagem/imagempaisagem.png");
        background-repeat: no-repeat;
        color: #ffffff;
    }
    
    .btn-iniciar {
       left: 50%;
       position: absolute;
       top: 50%;
    }
    
    .btn-iniciar:hover {
        font-size: 11px;
    }

    .btn-adicionar {
        left: 48%;
        position: absolute;
        top: 57%;
    }

    .btn-adicionar:hover {
        font-size: 11px;
    }

    .textare {
        left: 20%;
        position: absolute;
        top: 250px;
    }

    .btn-voltar {
        left: 20%;
        position: absolute;
    }

    .btn-adicionarpalavra-ao-jogo {
        left: 55%;
        position: absolute;
        width: 60px;
    }

}
