
@media screen and  (max-width: 480px) {
    .contener-all {
        background: url("../imagem/imagempaisagem.png");
        color: #ffffff;
        width: 375px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .contener-main {
        width: 100%;
    }
    
    .contener-cabecalho {
        align-items: center;
        display: flex;
        width: 100%;
    }

    .titulo {
        margin: 14px 0 0 0;
        text-align: center;
    }

    .contener-imagem-canvas {
        align-items: center;
        display: flex;
        justify-content: center;
    } 

    .tela {
        background: transparent;
        width: 80%;
	    height: 80%;
    }

    #canvas {
        background: url("../imagem/forca.png") no-repeat;
        background-position: bottom;
        background-size: 61%;
    }

    .secao-jogar-para-moblie {
        visibility: visible;
    }

    .btn-verificar-letra {
        visibility: hidden;
    }

    .campo-adicionar-letras {
        visibility: hidden;
    }

    .contener-iniciar-adicionar {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .btn-iniciar  {
        font-size: 10px;
        left: 50%;
        position: absolute;
        top: 38%;
        width: 100px;
    }

    .btn-adicionar  {
        font-size: 10px;
        left: 43%;
        position: absolute;
        top: 40%;
        width: 100px;
    }

    .contener-novo-desitir {
        display: flex;
	    justify-content: space-evenly;
    }

    .btn-novojogo {
        font-size: 10px;
        margin-right: 4em;
    }

    .btn-desistir {
        font-size: 10px;
    }

    .adicionar-letras-incorretas {
        font-size: 8px;
        position: absolute;
        right: 10%;
        top: 20%;
    }

    .input-adicionar {
        font-size: 10px;
        height: 50px;
        position: absolute;
        top: 50%;
        width: 200px;
    }

    .contener-bnts-voltar-adicionar { 
        width: 100%;
    }

    .btn-voltar {
        font-size: 10px;
        left: 50%;
        position: absolute;
        top: 362px;
        visibility: hidden;
    }

    .btn-adicionarpalavra-ao-jogo  {
        font-size: 10px;
        position: absolute;
        right: 50%;
        top: 359px;
        width: 10%;
    }

    .direitos {
        margin-bottom: 2em;
    }
    
}


@media screen and  (max-width: 768px) {
    .contener-all {
        background: url("../imagem/imagempaisagem.png");
        color: #ffffff;
    }

    .secao-jogar-para-moblie {
        visibility: visible;
    }

    .campo-adicionar-letras {
        visibility: hidden;
    }

    .btn-verificar-letra {
        visibility: hidden;
    }

    .btn-iniciar {
        left: 50%;
        position: absolute;
        top: 38%;
        width: 80px;
    }

    .btn-iniciar:hover {
        font-size: 14px;
    }

    .btn-adicionar {
        left: 49%;
        position: absolute;
        top: 50%;
        width: 100px;
    }

    .btn-adicionar:hover {
        font-size: 14px;
    }
    
    .input-adicionar {
        left: 20%;
        position: absolute;
        top: 80%;
    }

    .btn-voltar {
        left: 20%;
        position: absolute;
    }

    .btn-voltar:hover {
        font-size: 15px;
    }

    .btn-adicionarpalavra-ao-jogo {
       position: absolute;
        
    }

    .btn-adicionarpalavra-ao-jogo:hover {
        font-size: 15px;
    }
}

@media screen and (max-width: 1024px) {
    .contener-all {
        background: url("../imagem/imagempaisagem.png");
        background-repeat: no-repeat;
        color: #ffffff;
    }

    .secao-jogar-para-moblie {
        visibility: visible;
    }

    .campo-adicionar-letras  {
        position: absolute;
        top: 70%;
        left: calc(100% - 80%);
        visibility: hidden;
    }

    .btn-verificar-letra {
        visibility: hidden;
    }
    
    .btn-iniciar {
       left: 50%;
       position: absolute;
       top: 50%;
    }
    
    .btn-iniciar:hover {
        font-size: 11px;
    }

    .btn-adicionar {
        left: 48%;
        position: absolute;
        top: 57%;
    }

    .btn-adicionar:hover {
        font-size: 11px;
    }

    .input-adicionar {
        left: 20%;
        position: absolute;
        top: 250px;
    }

    .btn-voltar {
        left: 20%;
        position: absolute;
    }

    .btn-adicionarpalavra-ao-jogo {
        left: 55%;
        position: absolute;
        width: 60px;
    }

}

@media screen and (min-width: 1025px) {
    .contener-all {
        background: url("../imagem/imagempaisagem.png");
        background-repeat: no-repeat;
        background-size: 100%;
        color: #ffffff;
    }

    .contener-imagem-canvas {
        align-items: center;
        display: flex;
        justify-content: center;
    }

    #canvas {
        background: url("../imagem/forca.png") no-repeat;
        background-position: bottom;
    }

    .secao-jogar-para-moblie {
        display: none;
    }

    .campo-adicionar-letras  {
        display: none;
    }

    .btn-verificar-letra {
        display: none;
    }

    .btn-iniciar {
        left: 50%;
        position: absolute;
        top: 160px;
    }

    .btn-adicionar {
        position: absolute;
        top: 200px;
        left: 47%;
    }

    .contener-novo-desitir {
        display: flex;
        justify-content: space-evenly;
    }

    .adicionar-letras-incorretas {
        position: absolute;
        right: 15%;
    }


}